@import "../vendors/fontawesome-pro-5.10.1-web/scss/fontawesome";
@import "../vendors/fontawesome-pro-5.10.1-web/scss/solid.scss";
@import "../vendors/fontawesome-pro-5.10.1-web/scss/light.scss";
@import "../vendors/fontawesome-pro-5.10.1-web/scss/regular.scss";
@import "../vendors/fontawesome-pro-5.10.1-web/scss/brands.scss";

//@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700|Raleway:400,500,600,700&display=swap');

.mainFont {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.secondFont {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
}

:root {
  font-size: 16px;
}

body {
  @extend .secondFont;
}
h1,h2,h3,h4,h5,h6 {
  @extend .mainFont;
  color: $white1;
  margin-bottom: $domMargin;
}
