#directory {
  h2 {
    &:before {
      @extend .fa-building;
    }
  }
  h3 {
    font-size: $px48;
  }
  .list {
    li {
      display: flex;
      position: relative;
      align-items:center;
      align-items: center;
      padding-left: $arrowSize;
      margin-bottom: 1.5rem;
      &:before {
        content: "\f053";
        @extend .fas;
        font-size: $px72;
        text-align: left;
        position: absolute;
        left:$padSize;
        top:50%;
        transform: translateY(-50%);
        opacity: 0.5;
      }
      .logo {
        //padding-left: 6rem;
        width:75%;
        text-align: center;
        img {
          max-width: 50%;
          max-height: 9rem;
          min-height: 5rem;
          + img {
            margin-left: 4rem;
          }
        }
        h3 {
          margin: 0;
        }
      }
      .location {
        display: inline-block;
        min-width: 20%;
        border-left: 1px solid $white1;
        padding-left: $padSize;
        span {
          position: relative;
          @extend .mainFont;
          font-size: $px56;
          display: block;
          text-align: center;
          + span {

          }
        }
      }
    }
  }
}
