/*********************
Global includes and settings
*********************/
@import 'vendors/bootstrap-4.3.1/scss/bootstrap-grid';

@import 'inc/globals';
@import 'inc/colors';
@import 'inc/fonts';


.toAnimate {
  transition: all 0.5s ease-in-out;
}

/*:root {
  @media only screen and (max-width: ($hd4k - 1) ) and (min-width: ($hd2k + 1) ) {
    font-size:40%;
  }
  @media only screen and (max-width: $hd2k) {
    font-size:25%;
  }
  @media only screen and (max-width: $hd) {
    font-size:5%;
  }
}*/

body {
  min-height: 100vh;
  height: 100%;
  background-color: $black1;
  background: radial-gradient(circle, rgba($black2,1) 0%, rgba($black1,1) 100%);
  font-size:1rem;
}


body {
  > .container-fluid {
    padding:$mainPadding;
    height:100vh;
  }
}
a,h1,h2,h3,h4,h5,h6,p,div {
  user-select: none;
  font-family: sans-serif;
}
header {
  align-items:flex-start;
  //height:18%;
  //height:43rem;
  height:33%;
  > section {
    //max-height: 43.75rem;
  }
}
.row {
  section {
    border-radius:$px16;
    overflow: hidden;
    height:100%;
  }
}
.main-body {
  padding-top: $px130;
  height:66%;
  h2 {
    position: relative;
    font-size: $px90;
    padding-left: $px130 * 1.5;
    min-height: $px130;
    padding-top: $px16;
    &:before {
      content:'';
      @extend .fal;
      font-size: $px130;
      position: absolute;
      left: $px90 / 2;
      top:50%;
      transform: translateY(-50%);
    }
  }
  .list {
    padding: 0 $px56;
    //max-height: 68.75rem;
    height:90%;
    overflow: auto;
    scrollbar-width: none;
    border-radius:$px16;
    ul {
      list-style: none;
      padding: $px48 0;
      margin:  0;
      li {
        border-radius: $px15;
        background-color: rgba($white1,0.25);
        padding: $px35;
        @extend .boxShadow;
        div {
          display: inline-block;
          color: $white;
        }
      }
    }
  }
}
/*********************
Section specific settings
*********************/
$dashSize:8px;
$padSize: 1.5rem;
$arrowSize: 6rem;
/*********************
Section specific includes
*********************/
@import 'parts/welcome';
@import 'parts/weather';
@import 'parts/traffic';
@import 'parts/events';
@import 'parts/map';
@import 'parts/dir';
@import 'parts/modal';
